* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient(135deg, #6D83F2, #B667F1);*/
    background: white;
  }
  /*BOTON SIN REGISTRO*/
  .sinRegistro{
    position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    background: #02735E;
    height: 30px;
    width: auto;
    border-radius: 5px;
    margin: none;
    border: none;
  }
  .sinRegistro:hover{
    background: #014040;
  }
  .sinRegistro:active{
    background: orange;
  }
  .container {
    width: 800px;
    height: 550px;
    display: flex;
    border-radius: 10px;
    background:transparent;
   
  }
  /*SECCION DERECHO*/
  .left-section {
   /*background: linear-gradient(135deg, #F271B6, #9D67F2);*/
   position: absolute;
   top: 18%;
   right: 35%;
   width: 40%;
   height: 65%;
    background: #02735E;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   /* justify-content: center;*/
    padding: 20px;
    color: white;
  }
  .left-section:hover{
    transition: all 1s;
    width: 45%;
    border-radius: 10px;
  }
  
  .image {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 49%;
    top: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(10px 10px 5px rgba(19, 20, 19, 0.3));
           /*drop-shadow(5px 5px 5px rgba(0,0,0,0.2)),
            drop-shadow(15px 15px 15px rgba(0,0,0,0.2));*/
    transition:all 1s;
    animation: rotar 5s linear infinite;
  }
  .image:hover{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow:2px 2px 5px  #58595a;
  }
  
  @keyframes rotar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .texto{
    position: absolute;
    left: 42%;
    bottom: 10px;
    width: 250px;
  }

  .description {
    text-align: center;
    font-size: 16px;
    position: absolute;
    left: 5%;
    bottom: 10%;
  }
  
  /*SECCION IZQUIERDO*/
  .right-section {
    position: absolute;
    right: 60%;
    top: 7%;;
    width: 30%;
    height: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 6px 10px black;
    transition: all 1s;
  }

  .right-section:hover{
    height: auto;
    width: 31%;
  }
  
  .login-box {
    color: #014040;
    width: 100%;
    height: 100%;
   /* max: width 100px; ;/*max: width:320px*/
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  h2{
    color: #014040;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 30px;
  }
  .input{
    border: none;
  }
  .input:hover{
    border: 1px solid  #02735E;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color:#02735E;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0.5;
  }
  
  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -10px;
    left: 10px;
    color: #014040;
    font-size: 12px;
    opacity: 10;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    /*background: linear-gradient(135deg, #6D83F2, #B667F1);*/
    background: #02735E;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition:  all 0.5s;
  }
  
  .btn:hover {
    /*background: linear-gradient(135deg, #5A74E3, #A454D8);*/
    background: #014040;
    box-shadow: 1px 1px 2px rgb(100, 95, 95);
  }
  .btn:active {
    background: orange;
    box-shadow: 2px 2px 2px black;
    color: black;
    transform: scale(0.98); 
  }

  ion-icon{
    color:rgb(20, 19, 19);
    position: absolute;
    right: 100%;
    padding: 5px;
    height: 40px;
    width: 25px;
    
  }
 
  .iniciarSesion {
    background: #02735E;
    border-radius: 10px;
    color: aliceblue;
    width: 49%;
    /*position: relative;
    left: 25%;*/
    border: none;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 1s;

  }
  
  .iniciarSesion:hover {
    background: #014040;
    height: 48%;
    width: 48%;
  }
  
  .iniciarSesion:active {
    background: orange;
    box-shadow: 2px 2px 2px black;
    color: black;
    transform: scale(0.98); 
  }

  ion-icon{
    color: #02735E;
  }


  .terms {
    margin-top: 20px;
}

.terms label {
    font-size: 14px;
}

.terms a {
    color: #3498db;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    margin-right: 10px;
}